/*
Formatting styles
*/
#__content p {
	margin: 12px 0;
}
#__content ul {
	margin: 12px 0 12px 24px;
}
#__content img {
	display: block;
	margin: 24px auto;
	max-width: 100%;
	padding: 0;
}
#__content pre {
	background: #333;
	border: none;
	border-left: 1px solid #ccc;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 24px;
}
#__content pre.augmented {
	margin: 24px 0 0 0;
}
#__content pre code {
	display: block;
	margin: 0;
}
#__content div.preLinkBar {
	background: #eee;
	margin: 0 0 24px 0;
	padding: 0;
}
#__content div.preLinkBar a {
	cursor: pointer;
	margin: 0 6px 0 0;
	padding: 0;
}
#__content div.preLinkBar img {
	display: inline;
	height: 18px;
	margin: 0;
	padding: 2px 0 4px 4px;
	vertical-align: middle;
	width: 18px;
}
#__content div.preLinkBar a:hover {
	text-decoration: underline;
}
