<!--
    Feature Section
    ------------
    The feature area is meant to highlight special bits of content. The 
    section includes an image and text (or other content). By default the 
    content is overlaid on the image.
    
    There are two editable regions. The first should be an image of an 
    appropriate size. The second can be basically any arbitrary content 
    (although text will work best).
-->
<div class="body">
    <div id="__feature">
        <div class="block">
            <!-- BEGIN EDITABLE REGION -->
            <img src="img/feature01.png" />
            <!-- END EDITABLE REGION -->
            <div class="content">
                <!-- BEGIN EDITABLE REGION -->
                <h4>Awesome Stuff</h4>
                <p>Lorem ipsum dolor sit amet, nec hac sit convallis dolores aliquet et, sed vivamus.
                Venenatis suspendisse lobortis metus sem, sem sapien convallis ut, scelerisque donec.</p>
                <!-- END EDITABLE REGION -->
            </div>
        </div>
    </div>
</div>
