<!--
    Full Footer Section
    -------------------
    This section can contain things like copyright notices along with three 
    content boxes for featuring various bits of content like Twitter feeds 
    or the latest blog entries. If you want a simpler footer, see "footer".
-->
<div id="__footer">
    <div class="body">
        <div class="block">
            <h3>Awesome Links</h3>
            <p>My favorite sites ever.</p>
            <ul>
                <li><a href="#">A Neat Site</a></li>
                <li><a href="#">Fun Stuff Here</a></li>
                <li><a href="#">Another Site</a></li>
                <li><a href="#">Last Site</a></li>
            </ul>
        </div>
        <div class="block">
            <h3>Awesome Links</h3>
            <p>My favorite sites ever.</p>
            <ul>
                <li><a href="#">A Neat Site</a></li>
                <li><a href="#">Fun Stuff Here</a></li>
                <li><a href="#">Another Site</a></li>
                <li><a href="#">Last Site</a></li>
            </ul>
        </div>
        <div class="block">
            <h3>Awesome Links</h3>
            <p>My favorite sites ever.</p>
            <ul>
                <li><a href="#">A Neat Site</a></li>
                <li><a href="#">Fun Stuff Here</a></li>
                <li><a href="#">Another Site</a></li>
                <li><a href="#">Last Site</a></li>
            </ul>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div id="__copyright" class="body">
        <!-- BEGIN EDITABLE REGION -->
        <p><small>Copyright notice goes here. Copyright stuff.</small></p>
        <!-- END EDITABLE REGION -->
    </div>
</div>
