<!--
    Gallery Section
    ---------------
    This section presents a photo (or other media) gallery.
    
    The content before the images is arbitrary but is probably best occupied 
    by a title and description of the gallery. Each photo must be 
    surrounded with a div.block (as the examples are).
-->
<div class="body">
    <div id="__gallery">
        <!-- BEGIN EDITABLE REGION -->
        <h2>Awesome Gallery</h2>
        <p>Lectus quis interdum tincidunt at. Elit voluptate, justo scelerisque pellentesque lacus.</p>
        <!-- END EDITABLE REGION -->
        <!-- BEGIN EDITABLE REGION -->
        <div class="block">
            <a href="img/feature01.png"><img src="img/feature01.png" /></a>
        </div>
        <div class="block">
            <img src="img/feature02.png" />
        </div>
        <div class="block">
            <img src="img/feature03.png" />
        </div>
        <!-- END EDITABLE REGION -->
        <div style="clear: both;"></div>
    </div>
</div>
