<!--
    Page Menu Section
    -----------------
    This section is designed to hold menu selections specific to the current
    page. For example, in a wiki it might hold "edit", "subscribe" and 
    other similar options. For a product page it might hold "order" or 
    "more information" links.
    
    Under normal circumstances you should only edit the region noted below.
-->
<div class="body">
    <div id="__page-menu">
        <a id="__int-toggle-page-menu" class="inactive">Page Menu</a>
        <ul>
            <!-- BEGIN EDITABLE REGION -->
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Another Item</a></li>
            <!-- END EDITABLE REGION -->
        </ul>
    </div>
</div>
